<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Email" value="krasnodubskaya.v@gmail.com" />
		<add key="SenderName" value="Allergy tracker" />
		<add key="Password" value="qboqeyznsfvoubil" />
		<add key="Host" value="smtp.gmail.com" />
	</appSettings>
</configuration>